@charset "ISO-8859-1";
body{
	font-family: Arial,Helvetica,Geneva,sans-serif;
	font-size: 18px;
	color: #434D4F;
}
.error{
	color: #FF0000;/*--Red--*/
}
.success{
	color: #0000FF;/*--Blue--*/
}
.tab1{
	
	margin-top: 80px;
	margin-bottom: 10px;
}